@import url("https://fonts.googleapis.com/css2?family=Tahoma:wght@300;400;500;600;700;800;900&display=swap");


* {
    font-family: 'Tahoma Geneva', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html,body{
    overflow-x: hidden;
}


.footer__blog p:hover,
.footer__buy p:hover {
    color: #fff;
}

.menu__content .menu__cart .sticky-right .payment a,
.orders a {
    width: 100%;
    display: block;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding: 10px 15px;
    background-color: #B87333;
    color: #f2f4f8;
    transition: all .1s ease-in-out;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
/* -----------------------HEADER--------------------------- */
/* Header Styles */

.header-content {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    z-index: 100;
    background: #461f1f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Style for logo */

.header-logo img {
    width: 90px;
    padding-top: 5px;
}

.header-menu ul {
    display: flex;
}

.header-menu ul li {
    list-style-type:none ;
}

.header-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover{
    border-bottom: 2px solid rgb(225, 174, 108);
}

.header-menu ul li a:hover {
    color: rgb(225, 174, 108);
}


/* .header-menu-btn i{ 
    display: flex;
    padding-top: 40px;
    margin-left: -5px;
    color: #fff;

}*/
/*------------------------HEADER ICON SEARCH---------------------------------------*/
.header-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.searchToggle {
    position: fixed;
    cursor: pointer;
}

.searchToggle i {
    position: fixed;
    color: #fff;
    top : 40px;
    font-size: 20px;
    transition: opacity 0.3s ease;
}

.searchToggle i:hover {
    color: rgb(225, 174, 108);
}

.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle i.search {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}

.search-bar {
    top: 70px;
    display: none;
    position: absolute;
    width: 550px;
    height: 50px;
    background: #fff;
    align-items: center;
    border-radius: 50px;
    min-width: 100px;
    margin-top: 27px;
    right: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.searchToggle.active + .search-bar {
    display: flex;
}

.search-bar li {
    list-style: none;
}

.dropdown-bar1, .dropdown-bar2 {
    position: relative;
    height: 50px;
    border-radius: 50px;
    background: #461f1f;
    border: 1px solid #fff;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 15px;
    left: -40px;
}

.dropdown-text i {
    margin-left: 15px;
}

#price-span, #span{
    color: #fff;;
}

.dropdown-list {
    list-style: none; 
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    max-height: 0;
    overflow: hidden;
    background: #fff;
    color: #764136;
    z-index: 10000;
    transition: max-height 0.5s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-list.show {
    max-height: 300px;
}

.dropdown-list-item {
    font-size: 13px;
    font-weight: 500;
    padding: 10px 0px;
    margin-left: -20px;
    cursor: pointer;
    transition: margin-left 0.1s ease;
}

.dropdown-list-item:hover {
    margin-left: -10px;
}

.search-box {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: #764136;
    font-size: 15px;
}

.search-box input {
    margin-left: -25px;
    width: 100%;
    font-weight: 500;
    border: none;
    outline: none;
}

.search-box button {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #764136;
    border: none;
    background: none;
    cursor: pointer;
    padding-left: 10px;
}

.search-box input::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #764136;
}

.icon {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 28px;
    margin-top: 5px;
}

.icon a {
    font-size: 2rem;
    margin-left: 5px;
}
/* --------------------------------------------------- */
.icon-shopping, .icon-user, .icon-bars, .searchToggle {
    color: #fff;
    position: relative;
}

.icon-shopping a>i, .icon-user a>i, .icon-bars i{
    font-size: 18px;
    color: #fff;
}

.icon-bars{
    display: none;
}
.icon-shopping a>i:hover, 
.icon-user a>i:hover, 
.icon-bars i:hover{
    color: rgb(225, 174, 108);
}

.dropdown-user {
    display: none;
    position: absolute;
    width: 300px;
    top: 90px;
    right: -28px;
    background-color: #fff;
    list-style: none;
    min-width: 200px;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 100;
    padding: 0 2px 0px 0px;
}

.dropdown-user::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    right: 25px;
    top: -8px;
    background: #ffffff;
    transform: rotate(45deg);
}

.dropdown-user li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px; 
    border-radius: 30px;
    margin: 2px;
    text-align: center;
    background: rgb(70, 31, 31);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    z-index: 99;
}

.dropdown-user li a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
}

.dropdown-user li:hover{
    background-color: rgb(225, 174, 108);
}

.dropdown-user li a:hover{
    color: #000;
}

#hello {   
    color: black;
    position: absolute;
    z-index: 101;
    top: 80px;
    left: 180px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

#hello::before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 10px;
    border-bottom: 10px solid white;
    position: absolute;
    top: -9px;
    left: 20px;
    z-index: 99;
}

#hello:not(.active) {
    display: none;
}

/*--------------------FOOTER-----------------------------*/

.footer {
    z-index: 1000;
    position: relative;
    padding: 20px 0;
    color: #fff;
    background-color: rgb(70, 31, 31);
    font-family: Arial, sans-serif;
    width: 100%; /* Chiếm 100% chiều rộng viewport */
    margin: 0; /* Loại bỏ khoảng trắng bên ngoài */
    left: 0; /* Đảm bảo căn trái */
    right: 0; /
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100% !important;
    max-width: 1200px !important;
    padding: 20px;
    gap: 20px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-right: 50px;
}

.footer-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.footer-section p, .footer-section ul, .footer-section a {
    font-size: 13px;
    color: #fff;
    position: relative;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section a {
    color: #ffffffe8;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

.footer-section a:hover {
    color: rgb(225, 174, 108);
}

.footer-section.social a {
    margin-right: 20px; 
    font-size: 20px;
    color: #ffffffe8;
}

.footer-section.social a:hover {
    color: rgb(225, 174, 108); 
}

.footer-section.social {
    color: #ffffffe8;
}

.footer-section.social h2 {
    color: #fff;
}

.footer-section.social a {
    color: #ffffffe8; 
    text-decoration: none; 
    padding-bottom: 0;
    margin-right: 20px;
}

.footer-section.social a:hover {
    color: rgb(225, 174, 108); 
    text-decoration: none; 
}

.footer-section.members ul {
    padding-left: 0;
    margin: 0;
}

.footer-section.members {
    display: flex;
    flex-direction: column;
}

.footer-section.members ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.footer-section.members ul li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.footer-section.members a {
    display: block; 
    color: #ffffffe8;
    text-decoration: none;
    padding-left: 0; 
    position: relative;
    font-size: 14px;
}

.footer-section.members a:hover {
    color: rgb(225, 174, 108);
}

.footer-bottom {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    color: #e4c0b8b3;
    font-size: 13px;
    position: relative;
}

.footer-bottom hr {
    width: 90%; 
    border: 1px solid #ffffffba; 
    margin: 0 auto;
    margin-bottom: 30px;
}

.BackToTop {
    position: fixed;
    right: 50px;
    bottom: 50px;

    visibility: hidden;
    opacity: 0;
}

.BackToTop i {
    color: #f5f4ef;
    font-size: 25px;
    border: 3px solid #f5f4ef;
    width: 38px;
    height: 38px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-color: #a9611e;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

/*-----------------------------MEDIA-------------------------*/


@media (max-width: 820px) {
    .header-content ul li .link{
        font-size: 16px;
    }

    .header-menu{
        position: absolute;
        display: flex;
        justify-content: center;
        background: rgb(255,255,255,rgba(0, 0, 0, 0.2));
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        top: -800px;
        transition: .3s;
    }

    .header-menu a>i{
        color: #461f1f;
    }

    .header-menu a>i:hover{
        color: #000;
    }

    .header-menu ul li .link{
        color: #461f1f;
        font-weight: 600px;
    }

    .header-menu ul li a:hover{
        color: #000;
        border-bottom: 2px solid #000;
    }

    .header-menu ul{
        flex-direction: column;
        text-align: center;
    }

    .header-menu.responsive{
        top: 100px;
    }

    .icon-bars{
        display: block;
    }

    .icon-bars i{
        padding: 10px;
        border-radius: 50%;
        background: rgba(255,255,255,0.2);
        padding: 10px;
        cursor: pointer;
        transition: .3s;
    }

    .icon-bars i:hover{
        background: rgba(255,255,255,0.15);
    }

}