@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/*thu*/
.form-login img{
    width: 120px;
    justify-content: center;
    margin: 0 90px;
    background-image: none;
    margin-top: -20px;
    margin-bottom: -5px; ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tahoma Geneva", sans-serif;
}

body{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    min-height: auto;
    background: rgb(233, 209, 179);
    background-size: cover;
    background-position:center ;
    padding-top: 50px 20px;
}

.form-login{
    display: flex;
    position: relative;
    width: 390px;
    background: rgb(225, 174, 108);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: rgb(70, 31, 31);
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: -500px;
    margin-bottom: 50px;
    z-index: 2;
}

.form-login h1{
    font-size: 36px;
    text-align: center;
    color: rgb(70, 31, 31);
    margin-bottom: -20px;
}

.bxs-coffee-bean{
    position: absolute;
    margin: 0 160px;
    color: rgb(70, 31, 31);
}
.form-login .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.input-box input{
    width : 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius:  40px;
    font-size: 16px;
    color: rgb(70, 31, 31);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: rgb(70, 31, 31);
}

.input-box i{
    color: rgb(70, 31, 31);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.button{
    width: 100%;
    height:  45px;
    background: rgb(70, 31, 31);
    border: none;
    outline: none;
    border-radius:  40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.button:hover{
    background-color: rgb(33, 218, 12); 
}
.form-login .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -5px 0 15px;
}

.remember-forgot label input{
    accent-color: white;
    margin-right:  3px;
}

.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.form-login .register-link{
    font-size:  14.5px;
    text-align: center;
    margin-top: 20px;

}

.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.button a{
    color: white;
    text-decoration: none;
}

span{
    color: rgb(247, 11, 11);
    font-size: small;
    margin: 0 15px;
}

.hide{
    display: none;
}

.modalSuccess {
    /* lớp phủ mờ */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
}

.modal-inner {
    width: 450px;
    height: 350px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(233, 209, 179);
    border-radius: 10px;
    animation: modalShow 0.5s linear;
}

.modal-header {
    width: 450px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    background-color:  rgb(233, 209, 179);
}

.modal-header .icon-success {
    font-size: 100px;
    color: #11be45;
    margin-bottom: -25px;
}

.modal-body h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
    color: #000000;
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
}

.modal-body p {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
    color: rgb(58, 56, 56);
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
}

.modal-footer {
    width: auto;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-success {
    color: #fff;
    background: rgb(70, 31, 31);
    width: 300px;
    height: 60px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-success a {
    text-decoration: none;
    color: #fff;
    font-family: 'Tahoma', sans-serif;
    font-size: 20px;
    padding: 0;

    font-weight: bold;

}

.btn-success:hover {
    background-color: #11be45;
}

.modalSuccess.active {
    display: flex;
}

/*------------------------------------------MODAL FAIL----------------------------------------------*/
.modalFail {
    
    /* lớp phủ mờ */
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
    top: 0;
    left: 0;    
}

.modal-innerFail {
    width: 400px;
    height: 360px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(233, 209, 179);
    border-radius: 10px;
    animation: modalShow 0.5s linear;
}

.modal-headerFail {
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    background-color: rgb(233, 209, 179);
}

.modal-headerFail .iconFail {
    font-size: 100px;
    color: red;
    margin-bottom:-25px;
}

.modal-bodyFail h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
    color: #000000;
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
}

.modal-bodyFail p {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
    color: rgb(58, 56, 56);
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
}

.modal-footerFail {
    width: auto;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-fail {
    color: #fff;
    background: rgb(70, 31, 31);
    width: 300px;
    height: 60px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-fail a {
    text-decoration: none;
    color: #fff;
    font-family: "Tahoma", sans-serif;
    font-size: 20px;
    padding: 0;

    font-weight: bold;
}

.btn-fail:hover {
    background-color: red;
}

.modalFail.activefail {
    display: flex;
}

/*------------------------------------MODAL NO EXIST--------------------------------------------*/
.modalNoExist {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
}

.modal-innerNoExist {
    width: 400px;
    height: 360px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(233, 209, 179);
    border-radius: 10px;
    animation: modalShow 0.5s linear;
}

.modal-headerNoExist {
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    background-color:rgb(233, 209, 179) ;
}

.modal-headerNoExist .iconNoExist {
    font-size: 100px;
    color: orange;
    margin-bottom: -25px;
}

.modal-bodyNoExist h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
    color: #000000;
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
}

.modal-bodyNoExist p {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
    color: rgb(58, 56, 56);
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
}

.modal-footerNoExist {
    width: auto;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-NoExist {
    color: #fff;
    background: rgb(70, 31, 31);
    width: 300px;
    height: 60px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-NoExist a {
    text-decoration: none;
    color: #fff;
    font-family: "Tahoma", sans-serif;
    font-size: 20px;
    padding: 0;

    font-weight: bold;
}

.btn-NoExist:hover {
    background-color: orange;
    /* text-decoration: underline; */
}

.modalNoExist.activeNoExist {
    display: flex;
}

@keyframes modalShow {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

@media (max-width:438px ){
    .form-login{
        width: 100%;
        max-width: 350px;
        padding: 10px 20px;
        flex-direction: column;
    }

    .form-login img{
        width: 110px;
        align-items: center;
    }

    .form-login h1{
        margin-bottom: 5px;
    }

    .modal-header,
    .modal-headerFail,
    .modal-headerNoExist{
        display: flex;
        max-width: 400px;
        width: 100%;
    }

    .modal-header .icon-success{
        align-content: center;
    }
}

@media (max-width: 376px){
    .modal-body,
    .modal-bodyFail,
    .modal-bodyNoExist h4{
        font-size: 30px;
    }

    .modal-body,
    .modal-bodyFail,
    .modal-bodyNoExist p{
        font-size: 16px;
    }

    .modal-footer .btn-success, 
    .modal-footerFail .btn-fail,
    .modal-footerNoExist .btn-NoExist{
        width: 250px;
    }
}

@media (max-width: 1024px) {
    .form-login{
        margin-bottom: 80px;
    }
}

@media (min-width: 1245px) {
    .form-login{
        margin-top: -530px;
    }
}

@media (max-width: 1240px) {
    .form-login{
       margin-top: -510px;
    }
}

@media (min-width: 1440px) {
    .form-login{
        margin-bottom: 70px;
    }
}
