.fullscreen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fullscreen-overlay img {
    max-width: 90%;
    max-height: 90%;
    cursor: zoom-out;
}

.product {
    padding: 30px 0;
    background-color: #f5f5f5;
    width: 95%;
    margin: 0 auto;
    height: auto;
    border-radius: 10px;
}

.product-gallery .carousel-inner .carousel-item img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd; 
    width: 100%; 
    max-width: 350px;
    height: auto; 
    max-height: 350px;
    border-radius: 5px;
    margin: 0 auto;
    cursor: zoom-in;
}

.product-gallery .carousel-inner .carousel-item img:hover {
    z-index: 10; 
    position: relative; 
}

.carousel-indicators .active {
    opacity: 1;
}

.thumbnails img {
    width: 50px;
    height: auto; 
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ddd; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.7s ease-in-out; 
}

.thumbnails img:hover {
    transform: scale(1.1); 
}

.thumbnails img:last-child {
    margin-right: 0;
}

.product_details_info {
    color: rgb(70, 31, 31);
    margin-top: 10px;
}

.product_details_info h3 {
    font-size: 32px;
}

.availability {
    font-size: 16px;
    color: #777;
}

.availability b {
    color: #ac2d19;
}

.price {
    color: #b1200a;
    font-size: 25px;
    margin-bottom: 30px;
}

.product-options label {
    font-size: 18px;
    font-weight: 600;
    color: rgb(70, 31, 31);
    display: block;
    margin: 15px 0 5px;
}

.size-options {
    display: flex;
    gap: 10px;
}

.size-btn {
    width: 40px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.size-btn.active, .size-btn:hover {
    color: #e00909;
    border-color: #e00909;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    height: 40px;
    font-size: 16px;
    color: rgb(70, 31, 31);
    border: 1px solid #ddd;
    border-radius: 30px;
    margin-bottom: 40px;
}

.quantity input {
    width: 60px;
    text-align: center;
    -moz-appearance: textfield;
    background: #f5f5f5;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Ẩn nút tăng/giảm trên Chrome, Safari */
    margin: 0;
}

.quantity-btn1 {
    width: 39px;
    height: 39px;
    border: none;
    border-radius: 30px 0 0 30px;
    font-size: 16px;
    background: #f5f5f5;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quantity-btn1:hover {
    background-color: #a1a1a134;
}

.quantity-btn2 {
    width: 39px;
    height: 39px;
    border: none;
    border-radius: 0px 30px 30px 0;
    font-size: 16px;
    background: #f5f5f5;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quantity-btn2:hover {
    background-color: #a1a1a134;
}

#quantity-value {
    width: 60px; 
    height: 40px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 1px solid #ddd; 
    font-size: 16px;
}

.btn-orders {
    display: flex;
    gap: 20px;
}

.btn-buy-now, .btn-add-to-cart {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-buy-now {
    background-color: #e00909;
    color: #fff;
}

.btn-buy-now:hover {
    background-color: #e009097d;
}

.btn-add-to-cart {
    border: 1px solid #e00909;
    color: #e00909;
}

.btn-add-to-cart:hover {
    background-color: #e0090927;
}

/* Modal style */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.modal-content h3 {
    font-size: 24px;
}

.modal-content h5 {
    font-size: 16px;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.modal-btn {
    padding: 10px 10px;
    width: 100px;
    font-size: 14px;
    margin: 10px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background-color: rgb(70, 31, 31);
    color: #fff;
    transition: background-color 0.3s;
}

.modal-btn:hover {
    background-color: rgba(70, 31, 31, 0.623);
}

.modal-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
}

.breadcrumb-item {
    display: inline-block;
}

.breadcrumb-item a {
    text-decoration: none;
    color: rgb(70, 31, 31);
    transition: color 0.3s ease;
}

.breadcrumb-item a:hover {
    color: rgba(70, 31, 31, 0.495);
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">"; 
    color: #555;
}

.breadcrumb-item + .breadcrumb-item.active::before {
    content: ">"; 
    color: #555;
}

.breadcrumb-item.active {
    color: #6c757d; 
}

.breadcrumb-item.active::before {
    content: none; 
}

.breadcrumb-item.active a {
    color: #6c757d; 
}

.product_tag h4 {
    font-size: 18px;
    font-weight: 700;
    color: rgb(70, 31, 31);
    margin-bottom: 15px;
}

.product_tag p,
.product_tag p span {
    font-size: 16px;
    color: #494949;
}

.breadcrumb_section .breadcrumb {
    padding: 20px 0;
}

.propose {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.container .tilte {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 700;
    color: rgb(70, 31, 31);
}

.btn {
    margin-top: -15px;
}

.pagination {
    align-items: center;
    justify-content: center;
}