html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header, .form-signup, .footer {
    max-width: 100%;
}

*{
    box-sizing: border-box;
}

body {
    background-color: rgb(233, 209, 179);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 55px;
}

header {
    position: fixed;
    z-index: 10000;
    width: 100%;
    max-width: 100vw;
    top: 0;
    min-height: 55px;
    background: rgb(70, 31, 31);
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active i {
    color: #e4c0b8;
}

.sub-menu span {
    font-size: 16px;
    color: #fff;
}

.sub-menu span:hover {
    color: #e4c0b8;
}

.dropdown-text span {
    color: #fff;
    font-size: 15px;
}

.dropdown-list li {
    font-size: 14px;
}

.close-btn {
    color: #000;
    margin-right: 0;
}

.form-signup img{
    width: 120px;
    justify-content: center;
    margin: -10px 94px;
    margin-top: -15px;
    background-image: none;
}

.form-signup {
    width: 400px;
    background:  rgb(225, 174, 108);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: rgb(70, 31, 31);
    border-radius: 10px;
    padding: 10px 40px;
    z-index: 2;
}



.form-signup h1{
    font-size: 36px;
    text-align: center;
    color: rgb(70, 31, 31);
    margin-bottom: -30px ;
}

.form-signup .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0 55px 0;
}

.input-box h3{
    font-size: large;
    margin-left: 15px;
    margin-bottom: 5px;
}

.input-box input{
    width : 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius:  40px;
    font-size: 16px;
    color: rgb(70, 31, 31);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: rgb(70, 31, 31);
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(80%);
    right: 10px;
    top: 40%;
    font-size: 20px;
}

.input-box i.fa-user {
    color: rgb(70, 31, 31);
    cursor: default;
}

.input-box i.fa-user:hover {
    color: rgb(70, 31, 31);
}

.button{
    width: 100%;
    height:  45px;
    background: rgb(70, 31, 31);
    border: none;
    outline: none;
    border-radius:  40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
}

.button:hover{
    background-color: rgb(33, 218, 12);
}

.form-signup .signup-link{
    font-size:  14.5px;
    text-align: center;
    margin-top: 20px;
}

.signup-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.signup-link p a:hover{
    text-decoration: underline;
}

.button a{
    color: white;
    text-decoration: none;
}

span{
    color: red;
    font-size: small;
    margin: 0 15px;
}

.modal-highlands{
    padding: 10px 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal-inner{
    width: 80%;
    max-width: 400px;
    height: 360px;
    position: relative;
    background: burlywood;
    border-radius: 10px;
    animation: modalShow 0.5s linear;
    margin-left: -20px;
}

.modal-highlands .modal-header{
    scroll-margin-bottom: -20px;
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0; 
    border-bottom: none ;
    background-color: burlywood;
}

.modal-highlands .modal-header i{
    font-size: 100px;
    color: rgb(27, 186, 10);

}

.modal-body h4{
    margin-top: -50px;
    text-align: center;
    font-size: 36px;
    margin: 5px 0;
    color:rgb(70, 31, 31) ;
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
}
.modal-body{
    margin-top: -10px;
}

.modal-body p{
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
    color: rgb(70, 31, 31);
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
}

.modal-footer {
    width: auto;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: burlywood;
}

.modal-highlands .btn-success{
    margin-top: -30px;
    color: #fff;   
    background:rgb(70, 31, 31) ;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    border: none;
    cursor: pointer; 
    transition: 0.3s;
}

.btn-success a{
    text-decoration: none;
    color: #fff;
    font-family: "Tahoma";
    font-size: 20px;
    padding: 0;
    font-weight: bold;
}

.btn-success:hover{
    background-color: rgb(33, 218, 12);
}

.modal-highlands.active{
    display: flex;
}

.footer {
    z-index: 1000;
    position: relative ;
    padding: 20px 0;
    color: #fff;
    background-color: rgb(70, 31, 31);
    font-family: Arial, sans-serif;
    width: 100%; /* Chiếm 100% chiều rộng viewport */
    margin: 0; /* Loại bỏ khoảng trắng bên ngoài */
    left: 0; /* Đảm bảo căn trái */
    right: 0; /
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100% !important;
    max-width: 1200px !important;
    padding: 20px;
    gap: 20px;
    margin: 0 auto;
}

@keyframes modalShow {
    from{
        top: 0;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }   
}

@media (max-width:438px ){
    .form-signup{
        width: 100%;
        max-width: 350px;
        padding: 10px 20px;
        flex-direction: column;
    }

    .form-signup img{
        width: 100px;
        align-items: center;
    }

    .form-signup h1{
        margin-bottom: -30px;
    }

    .modal-header{
        display: flex;
        max-width: 400px;
        width: 100%;
    }

    .modal-header .icon-success{
        align-content: center;
    }

}

@media (max-width: 376px){
    .modal-body h4{
        font-size: 30px;
    }

    .modal-body p{
        font-size: 16px;
    }

    .modal-footer .btn-success{
        width: 200px;
    }
}
@media (max-width: 1024px) {
    .form-signup{
        margin-bottom: 80px;
    }
}

@media (min-width: 1245px) {
    .form-signup{
        margin-top: 60px;
    }
}

@media (max-width: 1240px) {
    .form-signup{
       margin-top: 60px;
    }
}

@media (min-width: 1440px) {
    .form-signup{
        margin-bottom: 60px;
    }
}
